
<style>

.welcome-title
{
	position: absolute;

	top: 25%;
	left: 50%;

	-ms-transform: translateY(-50%);
	-ms-transform: translateX(-50%);

	transform: translateY(-50%);
	transform: translateX(-50%);

	text-align: center;

	font-size: 3em;	
}

.welcome-prompt	
{
	position: absolute;

	bottom: 25%;
	left: 50%;

	-ms-transform: translateY(-50%);
	-ms-transform: translateX(-50%);

	transform: translateY(-50%);
	transform: translateX(-50%);

	text-align: center;

	font-size: 1em;

}

</style>

{% block body %}

{% endblock %}

